absl-py
astor
astroid
attrs
autopep8
backcall
bleach
Click
colorama
curses
decorator
defusedxml
dnspython
entrypoints
Flask
gast
grpcio
h5py
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
lazy-object-proxy
Markdo
MarkupSafe
mccabe
mistune
mock
more-itertools
mysql-connector-python
mysql-to-sqlite3
nbconvert
nbformat
nltk
notebook
numpy
pandas
pandocfilters
parso
pbr
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pycodestyle
Pygments
pylint
pyrsistent
python-dateutil
python-slugify
pytimeparse
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
scikit-learn
scipy
Send2Trash
simplejson
singledispatch
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
text-unidecode
tflearn
tornado
tqdm
traitlets
typed-ast
wcwidth
webencodings
Werkzeug
widgetsnbextension
win-unicode-console
wrapt
zipp